[[source]]
url = "http://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
flask-pymongo = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-mongoalchemy = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.7"
