[[source]]
url = "http://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-pymongo = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-mongoalchemy = "*"
pymongo = "==2.9"
incremental = "*"
scrapy = "*"
pybloom-live = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.7"
