[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
flask-pymongo = "*"
flask-wtf = "*"
flask-bootstrap = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.7"
