{% extends "base.html" %}

{% block title %}所有漏洞{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h2>{{ vulner.title }}</h2>
    </div>
    <div>
        <a href="{{ url_for('vulner.get_all', page_num=1) }}">
            <button type="button" class="btn-default">返回</button>
        </a>
        {% if current_user.is_administrator %}
            <a href="{{ url_for('vulner.edit', vulner_id=vulner.mongo_id) }}">
                <button type="button" class="btn-default">编辑</button>
            </a>
            {% if not vulner.tag %}
                <a href="{{ url_for('vulner.recommend', vulner_id=vulner.mongo_id) }}">
                    <button type="button" class="btn-default">推荐</button>
                </a>
            {% else %}
                <a href="{{ url_for('vulner.un_recommend', vulner_id=vulner.mongo_id) }}">
                    <button type="button" class="btn-default">取消推荐</button>
                </a>
            {% endif %}
            <a href="{{ url_for('vulner.delete', vulner_id=vulner.mongo_id) }}">
                <button type="button" class="btn-default">删除</button>
            </a>
        {% endif %}
    </div>

    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td>CNNVDId</td>
                    <td>{{ vulner.CNNVDId }}</td>
                </tr>
                <tr>
                    <td>CVEId</td>
                    <td>{{ vulner.CVEId }}</td>
                </tr>
                <tr>
                    <td>publishTime</td>
                    <td>{{ vulner.publishTime }}</td>
                </tr>
                <tr>
                    <td>updateTime</td>
                    <td>{{ vulner.updateTime }}</td>
                </tr>
                <tr>
                    <td>vulnerSource</td>
                    <td>{{ vulner.vulnerSource}}</td>
                </tr>
                <tr>
                    <td>vulnerLevel</td>
                    <td>{{ vulner.vulnerLevel}}</td>
                </tr>
                <tr>
                    <td>vulnerType</td>
                    <td>{{ vulner.vulnerType}}</td>
                </tr>
                <tr>
                    <td>threatType</td>
                    <td>{{ vulner.threatType}}</td>
                </tr>
            </tbody>
        </table>
        <p>{{ vulner.vulnerSummary | safe }}</p>
        <p>{{ vulner.vulnerBulletin | safe }}</p>
        <p>{{ vulner.vulnerPatch | safe }}</p>
    </div>

{% endblock %}