{% extends "base.html" %}

{% block title %}所有漏洞{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h2>所有漏洞</h2>
    </div>

    <div class="col-md-4">
        {% if not vulners %}
            <h3>没有更多漏洞信息了</h3>
        {% else %}
            {% for vulner in vulners %}
                <a href="{{ url_for('vulner.get_detail', vulner_id=vulner._id) }}">
                    <div>
                        <i>{{ vulner.idx }}</i>
                        <h3>{{ vulner.title }}</h3>
                        <p>{{ vulner.CNNVDId }}</p>
                        <!--<p>{{ vulner.CVEId }}</p>-->
                        <p>{{ vulner.publishTime }}</p>
                        <!--<p>{{ vulner.vulnerSummary | safe }}</p>-->
                        <!--<p>{{ vulner.vulnerBulletin | safe }}</p>-->
                        <!--<p>{{ vulner.vulnerPatch | safe }}</p>-->
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}