{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
    <h1 id="">{{ title }}</h1>

    <a href="{{ url_for('book.new_book')}}">New</a>

    <ul>
        {% for book in pagination.items %}
            <li>Title: {{ book.title }}; Year: {{ book.year }} (<a href="{{ url_for('book.edit_book', id=book.mongo_id) }}">Edit</a> | <a href="{{ url_for('book.delete_book', id=book.mongo_id) }}">Delete</a>)</li>
        {% endfor %}
    </ul>

    <p class="pagination">
        {% if pagination.has_prev() %}
            <a href="{{ url_for('book.list_books', page=pagination.prev_num) }}">&lt; Previous page</a>
        {% endif %}
        &nbsp;
        {% if pagination.has_next() %}
            <a href="{{ url_for('book.list_books', page=pagination.next_num) }}">Next page &gt;</a>
        {% endif %}
    </p>
{% endblock %}